<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my personal webpage!</h2>
        <p class="lead"> 
          I'm a master's student in Computational Clinical Science Lab, Seoul National Unversity. 
          I'm broadly interested in psychiatric disorders, especially in mood and anxiety disorder and their decision-making.
          I want to figure out the psychological and neurocognitive mechanisms of aberrant decision-making in mood and anxiety disorder.
          Specifically, by applying computational and neurobiological approaches, I hope to discover 
          (1) underlying cognitive processes of decision-making under mood and anxiety disorder,
          (2) individuals' risk factors and prognosis, 
          and ultimately enable to provide 
          (3) quantitative and objective index of psychiatric disorders and 
          (4) individualized treatment.  <br>
        
        <h2>Skills</h2> <br>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        R<br>
        <span class="fa-stack fa-lg">
          <i class="fab fa-python fa-stack-1x fa-inverse"></i>
        </span>
        Python<br>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        Matlab<br>
        <span class="fa-stack fa-lg">
          <i class="fa fa-camera fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
        LaTex

            </p>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
