<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my personal webpage!</h2>
        <p class="lead"> 
          I'm a master's student in Computational Clinical Science Lab, Seoul National Unversity. 
          I'm broadly interested in psychiatric disorders, especially in mood and anxiety disorder and their decision-making.
          I want to figure out the psychological and neurocognitive mechanisms of aberrant decision-making in mood and anxiety disorder.
          Specifically, by applying computational and neurobiological approaches, I hope to discover 
          (1) underlying cognitive processes of decision-making under mood and anxiety disorder,
          (2) individuals' risk factors and prognosis, 
          and ultimately enable to provide 
          (3) quantitative and objective index of psychiatric disorders and 
          (4) individualized treatment.  <br>
        
        <h2>Skills</h2>
        <h4>
          <strong>R</strong>
        </h4>
        <p>RStan</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
        <span class="fa-stack fa-2x">
        <i class="fa fa-compass fa-stack-1x text-primary"></i>
      </span>

        <h4>
          <strong>Python</strong>
        </h4>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
        <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-compass fa-stack-1x text-primary"></i>
      </span>

        <h4>
          <strong>Matlab</strong>
        </h4>
        <p>SPM12</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
        <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-compass fa-stack-1x text-primary"></i>
      </span>

      <h4>
        <strong>Github</strong>
      </h4>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="service-item">
      <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-compass fa-stack-1x text-primary"></i>
    </span>

      <h4>
        <strong>Latex</strong>
      </h4>
      </div>
      </div>
      <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-compass fa-stack-1x text-primary"></i>
      </span>

      <h4>
        <strong>HTML</strong>
      </h4>
      </div>
      </div>
      <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-compass fa-stack-1x text-primary"></i>
      </span>
            </p>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
