<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <!-- fade in 애니메이션을 이용하려면 class 에 effect-fade-in 추가 -->
            <a class="portfolio-item effect-fade-in">
              <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              <div class="container-text-portfolio col-md-6">
                <div class="text-portfolio">
                  <strong>Project-smoking-nicotine</strong><br />
                  Plotting the change of nicotine smoker’s cortisol level using R and python.
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <!-- 아래에서 위로 올라오는 애니메이션을 이용하려면 class 에 effect-slide-from-bottom 추가 -->
            <a href="https://github.com/soyeonn/Project_EFAT_public" class="portfolio-item effect-fade-in">
              <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              <div class="container-text-portfolio col-md-6">
                <div class="text-portfolio">
                  <strong>Project-EFAT</strong><br />
                  Predicting individuals' anxiety and depression level<br />
                  with neural pattern when they process the negative emotional stimuli<br />
                  using machine learning approach.<br /> 
                  Codes are not fully available yet.
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <!-- 위에서 아래로 내려가는 애니메이션을 이용하려면 class 에 effect-slide-from-top 추가 -->
            <a href="#" class="portfolio-item effect-fade-in">
              <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              <div class="container-text-portfolio col-md-6">
                <div class="text-portfolio">
                  <strong>Project-ELS</strong><br />
                  By using ABCD data, we examined the effect of early life stress on cognitive functioning.<br />
                  We also investigated which factors can mitigate the negative effect of early life stress.
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <!-- 애니메이션 없음 efect-none -->
            <a class="portfolio-item effect-fade-in">
              <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              <div class="container-text-portfolio col-md-6">
                <div class="text-portfolio">
                  <strong>Project-AnxietyDM</strong><br />
                  How highly anxious people make decision differently?<br />
                  What is the underlying cognitive processes that affect this aberrant decision-making?<br />
                  By using prospect theory and cognitive modeling, we quantitatively investigated that which latent cognitive processes are related to anxiety level. 
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
