<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <head>
          <a href="#">
        <style>
          .image{background:url(img/portfolio-1.jpg);}
          .text{ background:#000000; opacity:0;}
          .text p{padding-top:300px}
          .image:hover .text{opacity:0.5; text-align:center; color:#ffffff;}
        </style>
          </a>
        </head>
        <body>
          <div class = "image">
            <div class = "text">
              <p><font size=5>Hello World!</font></p>
            </div>
          </div>
        </body>
</div>
</div>
</div>
</section>

